/*CONTENEDOR PRINCIPAL */
.App{
  max-width: 600px;
  margin: 50px auto;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: Arial,sans-serif;
}
h1{
  text-align: center;
  color: #333;
}
/*HISTORIAL DE MENSAJES*/
.container-Cht{
height: 400px;
overflow-y: auto;
padding-inline-start: 10px;
border: 1px solid #ddd;
border-radius: 10px;
margin-bottom: 10px;
background: #f9f9f9;
display: flex;
flex-direction: column;
}
/*MENSAJES*/
.mensaje-usuario{
background-color: #d1e7dd;
align-self: flex-end;
padding: 8px 12px;
margin: 5px 0;
border-radius: 15px;
max-width: 80%;
}
.mensaje-bot{
  background-color: #f8d7da;
  align-self: flex-start;
  padding: 8px 12px;
  margin-right: 5px 0;
  margin: 5px 0;
  border-radius: 15px;
  max-width: 80%;
}